NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_CONTRACT_ADDRESS=0xa5c109Bfc654fC94B5714f8504a7445839C4eEe5
NEXT_PUBLIC_APP_URL=http://localhost:3000

RESEND_API_KEY=
CRON_SECRET=
EXECUTOR_PRIVATE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
